*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(47, 47, 110);
}
nav{
    padding: 5px;
    background-color: white;
    color: rgb(47, 47, 110);
    align-items: center;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 85vh;
}
.card .img img{
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    padding: 0px;
    border: 2px solid gray;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(199, 228, 233);;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2rem;
    margin: 1rem;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(47, 47, 110);
    color: white;
}
@media screen and (min-width:0px) {
    .container{
        background: radial-gradient(transparent,red);
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card .img{
        max-width:  310px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
}
@media screen and (min-width:400px) {
    .container{
        background: radial-gradient(transparent,green);
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card .img{
        max-width:  310px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
}
@media screen and (min-width:640px) {
    .container{
        background: radial-gradient(transparent,blue);
    }
    .content{
        display: flex;
        flex-wrap: wrap;
    }
    .card .img{
        max-width:  340px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
}
@media screen and (min-width: 720px) {
    .container{
        background: radial-gradient(transparent,#f2398f);
    }
    nav{display: none;}
    .content{
        display: flex;
        flex-wrap: wrap;
    }
    .card .img{
        max-width:  295px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
    
}
@media screen and (min-width: 920px) {
    .container{
        background: radial-gradient(transparent,yellow);
    }
    nav{display: none;}
    .content{
        display: flex;
        flex-wrap: nowrap;
    }
    .card .img{
        max-width:  370px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
    
}
@media screen and (min-width: 1238px) {
    .container{
        background: radial-gradient(transparent,purple);
    }
    nav{display: none;}
    .content{
        display: flex;
        flex-wrap: nowrap;
    }
    .card .img{
        max-width:  370px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid gray;
    }
    
}